@{
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@model IEnumerable<Student>


<h2>Danh sách sinh viên</h2>

<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
        <input id="keyword" class="form-control" name="keyword"
               type="text" placeholder="Search learner" />
        <button id="btnSearch" class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<div id="content">
</div>
<a asp-action="Create" asp-controller="Student" class="btn btn-primary">Create Student</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Ngành</th>
            <th>Giới tính</th>
            <th>Hệ ĐT</th>
            <th>Địa chỉ</th>
            <th>Email</th>

            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@(s.DateOfBorth.ToShortDateString())</td>

                @{
                    string str = "";
                    switch (s.Branch)
                    {
                        case Branch.IT:
                            str = "CNTT";
                            break;
                        case Branch.BE:
                            str = "Kinh tế";
                            break;
                        case Branch.CE:
                            str = "Công trình";
                            break;
                        case Branch.EE:
                            str = "Điện - Điện tử";
                            break;
                    }
                }
                <td>@str</td>
                <td>@(s.Gender == Gender.Male ? "Nam" : "Nữ")</td>
                <td>@(s.IsRegular ? "Chính quy" : "Phi chính quy")</td>
                <td>@s.Address</td>
                <td>@s.Email</td>

                <td>
                    <a asp-action="Edit" asp-controller="Student" asp-route-id="@s.Id" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="Details" asp-controller="Student" asp-route-id="@s.Id" class="btn btn-info btn-sm">Chi tiết</a>
                    <a asp-action="Delete" asp-controller="Student" asp-route-id="@s.Id" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="page-item" page="@i"
            @(ViewBag.mid != null ? "mid=" + ViewBag.mid : "")
            @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
            <a class="page-link">@i</a>
        </li>
    }
</ul>
@section Scripts {
    <script>
        var table = document.querySelector("table");
        table.onclick = function onTableClick() {
             table.style = "background-color: yellow;";
        }
        $('body').on('click', 'li.page-item', function (e) {
            var page = $(this).attr("page");
            var mid = $(this).attr("mid");
            var keyword = $(this).attr("keyword");
            var data = { mid: mid, keyword: keyword, pageIndex: page };

            $.ajax({
                url: "LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $(".nav li").click(function (e) {
            var id = $(this).attr("id");
            var data = { mid: id };

            $.ajax({
                url: "LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $("button#btnSearch").click(function (e) {
            var keyword = $("#keyword").val();
            var data = { keyword: keyword };

            $.ajax({
                url: "LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
    </script>
}